.wrapper {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.content {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}